spring:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: never
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/locationup}
    username: ${SPRING_DATASOURCE_USERNAME:locationup}
    password: ${SPRING_DATASOURCE_PASSWORD:locationup}
    driver-class-name: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /

app:
  jwt:
    secret: ${APP_JWT_SECRET:change-me}
    expiration: ${APP_JWT_EXPIRATION:900000} # 15 min
    refresh-expiration: ${APP_JWT_REFRESH_EXPIRATION:604800000} # 7 jours

logging:
  level:
    root: INFO
    com.mobility: INFO
